.logo h2 {
  color: white;
  font-family: 'Permanent Marker', cursive;
  margin-top: -6px; }

h1, h2, h3 {
  font-family: 'Permanent Marker', cursive; }

@media only screen and (min-width: 640px) {
  nav {
    color: white; }
    nav h3 {
      color: white; }
  .logo-wrapper {
    position: relative; }
  .logo-wrapper .logo {
    width: 310px;
    height: 45px;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -140px; }
  .top-bar-section ul.right {
    width: 50%;
    padding-left: 155px; }
    .top-bar-section ul.right li {
      float: left;
      font-family: 'Waiting for the Sunrise', cursive; }
  .top-bar-section ul.left {
    width: 50%;
    padding-right: 155px; }
    .top-bar-section ul.left li {
      float: right;
      font-family: 'Waiting for the Sunrise', cursive; } }

.hobbits {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  position: relative;
  padding-top: 45px; }

.gandalf {
  position: absolute;
  top: 65px; }

.quote {
  text-align: center;
  position: absolute;
  bottom: 0px;
  right: 5px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Permanent Marker', cursive; }
