
<div class="hobbits"><img src="/assets/IMG_20120421_085644.jpg"/>
  <h3 class="quote">"All we have to decide<br />is what to do<br />with the time that is given us."<br />--Gandalf</h3>
  <div class="topSpace">
    <div class="row">
      <div class="small-12 columns">
        <div class="row container">
          <div class="large-8 columns">
            <h1>About me:</h1>
            <div class="medium-10 medium-offset-1">
              <p>I am a dedicated husband, father of 3 beautiful children, a former music teacher, and a passionate junior software developer with a desire to help others improve their lives through efficient and pragmatic application design.  I am a current student at <a href="http://nashvillesoftwareschool.com/" target="_blank">Nashville Software School</a> and will be showing off my work with the rest of <a href="http://cohort9.nashvillesoftwareschool.com/" target="_blank"> my cohort</a> on <a href="http://nashvillesoftwareschool.com/calendar/events/" target="_blank">demo day--September 25, 2015 from 11:00am -2:00pm.</a> I would like to use my knowledge, expertise, and enthusiasm to help others simplify and improve life in these modern times.</p>
            </div>
          </div>
          <div class="large-4 columns"><img src="/assets/headshot.jpg"/></div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="medium-4 columns"><a href="https://github.com/ldmcdaniel/honeyDoIonic" target="_blank" class="th"><img src="/assets/honey-do.png"/></a></div>
    <div class="medium-8 columns">
      <h2>Honey-Do <a href="https://github.com/ldmcdaniel/honeyDoAPI" target="_blank">API</a> & <a href="https://github.com/ldmcdaniel/honeyDoIonic" target="_blank">Ionic</a></h2>
      <div class="medium-10 medium-offset-1">
        <p>This project is a Mean (<a href="https://www.mongodb.com/" target="_blank">MongoDB</a>, <a href="http://expressjs.com/" target="_blank">Express.js</a>, <a href="https://angularjs.org/" target="_blank"> AngularJS</a>, and <a href="https://nodejs.org/en/" target="_blank"> Node.js</a>) full-stack app.  The database is hosted on <a href="https://mongolab.com/" target="_blank"> MongoLab</a>, the API is hosted on <a href="https://www.heroku.com/" target="_blank">Heroku</a>, and the <a href="http://ionicframework.com/" target="_blank"> Ionic </a>hybrid-mobile app is deployed to a mobile device.  Honey-Do allows you to keep track of tasks in various situations, but functions well as a, "Honey-Do this and this and this..."</p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="medium-6 columns">
      <h2><a href="https://github.com/ldmcdaniel/tank-u" target="_blank">Tank U</a></h2>
      <div class="medium-10 medium-offset-1">
        <p>A <a href="https://en.wikipedia.org/wiki/Tower_defense" target="_blank"> tower defense </a> game where you play as the defensive captain of a team of turret commanders.  Using your resources carefully, you must defend from the incoming onslaught of tanks with their eyes set on destroying your home city.  For each enemy you defeat, you gain resources to strengthen you forces and hopefully save everyone from the brink of destruction.</p>
        <p>The game is built with <a href="http://phaser.io/" target="_blank"> Phaser</a>, an HTML5 game framework.  The complexity of the game is the dynacism of the turrets.  They are set to rotate and fire at enemy tanks only when they are within a certain range.</p>
      </div>
    </div>
    <div class="medium-6 columns"><a href="http://ldmcdaniel.com/tank-u" target="_blank" class="th"><img src="/assets/title-screen.png"/></a></div>
  </div>
  <hr/>
  <div class="row">
    <div class="medium-4 columns"><a href="https://github.com/ldmcdaniel/MNPW-Services" target="_blank" class="th"><img src="/assets/recycle_logo.jpg"/></a></div>
    <div class="medium-8 columns">
      <h2>Nashville Public Works</h2>
      <div class="medium-10 medium-offset-1">
        <p>The Nashville recycling app is a set-it-and-forget-it style app for trash, recycling, and brush collection.  Set your valid Nashville address and you will be sent a push notification the night before your trash or recycling need to be out for pickup.  A notification for brush collection can be configured up to one week prior to the pickup date to allow time to gather leaves, sticks, brush, and trees for collection.</p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="medium-8 columns">
      <h2><a href="https://github.com/ldmcdaniel/node-cal" target="_blank">Node Command Line Calendar</a></h2>
      <div class="medium-10 medium-offset-1">
        <p>The project uses the Zeller's congruence algorithm to build a command line Node.js app that exactly mimics the cal app in terminal.</p>
      </div>
    </div>
    <div class="medium-4 columns"><a href="https://github.com/ldmcdaniel/node-cal" target="_blank" class="th"><img src="/assets/node-cal.png"/></a></div>
  </div>
  <hr/>
  <div class="row">
    <div class="medium-4 columns"><a href="https://ldmcdaniel.com/ionic-calculator" target="_blank" class="th"><img src="/assets/calculator.png"/></a></div>
    <div class="medium-8 columns">
      <h2><a href="https://github.com/ldmcdaniel/ionic-calculator" target="_blank">Ionic Calculator</a></h2>
      <div class="medium-10 medium-offset-1">
        <p>I made this mobile app using the Ionic framework.  My peers admired my simple and effective code and I was left wondering why anyone would do it differently.</p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="medium-8 columns">
      <h2><a href="https://github.com/ldmcdaniel/blackjack" target="_blank">Blackjack</a></h2>
      <div class="medium-10 medium-offset-1">
        <p>I made this blackjack game using raw JavaScript, HTML5, and an API for the deck of cards.</p>
      </div>
    </div>
    <div class="medium-4 columns"><a href="http://ldmcdaniel.com/blackjack/" target="_blank" class="th"><img src="/assets/blackjack.png"/></a></div>
    
  </div>
</div>