extends ./_partials/_layout

block content

  .carousel.slide(id="carousel-example-generic" data-ride="carousel")
    <!-- Indicators -->
    ol.carousel-indicators
      li.active(data-target="#carousel-example-generic" data-slide-to="0")
      li(data-target="#carousel-example-generic" data-slide-to="1")
      li(data-target="#carousel-example-generic" data-slide-to="2")


    <!-- Wrapper for slides -->
    .carousel-inner(role="listbox")
      .item.active
        img(src="assets/1693019.jpg" alt="...")
        .carousel-caption.
          First Slide
      .item
        img(src="assets/182950_beautiful-backgrounds-133-wallpaper-scenery_1280x800.jpg" alt="...")
        .carousel-caption.
          Second
      .item.active
        img(src="assets/7018270-beautiful-wallpaper-backgrounds.jpg" alt="...")
        .carousel-caption.
          Third

    <!-- Controls -->
    a.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
      span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
      span.sr-only Previous
    a.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
      span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
      span.sr-only Next
  .container

