header
  nav.navbar.navbar-default
    .container-fluid
      .row
        .col-md-10.col-md-offset-1
          .container
            .row
              .col-md-7
                ul.nav.nav-tabs.nav-justified
                  li
                    h1 Lucas McDaniel
              .col-md-5
                ul.nav.nav-tabs.nav-justified
                  li
                    h3.btn.btn-default About me
                  li
                    h3.btn.btn-default Resume
                  li
                    h3.btn.btn-default Sample Work
                  li
                    h3.btn.btn-default Email



