doctype html
html(lang="en-US", ng-app)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title Lucas McDaniel
    link(rel="stylesheet", href="lib/build.css")
    link(rel="stylesheet", href="css/main.css")
  body

    include _header


    block content

    include _footer
    script(src="lib/build.js")
    script(src="js/main.js")
